.identifiers__wrapper {
  min-width: 320px;
  font-family: Roboto, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #1B1B1B;
  box-sizing: border-box;
  padding: 19px 20px 15px 20px;
  margin: 0 auto;
}

.identifiers__title {
  font-weight: 900;
  font-size: 18.3662px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #CED210;
  padding: 0 10px;
}

.identifiers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
}
